
* {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header, .hero, .footer {
    padding: 20px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #cdd322;
}
.header ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header a:hover {
    text-decoration-line: underline;
}

.main-content {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 600px;
    background-color: #E5E7EB;
    padding: 20px;
}

.sidebar .menu {
    list-style-type: none;
    padding: 0;
}

.sidebar .menu-item {
    font-size: 18px;
    color: #1F2937;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    cursor: pointer;
}

.sidebar .menu-item:hover {
    text-decoration: underline;
}

.sidebar .sub-menu {
    list-style-type: none;
    padding: 0;
    display: none;
}

.sidebar .sub-menu li a {
    font-size: 16px;
    color: #1F2937;
    text-decoration: none;
    display: block;
    padding: 5px 0 5px 20px;
}

.sidebar .sub-menu li a:hover {
    text-decoration: underline;
}

.content {
    display: table;
    width: 100%;
    border-collapse:collapse;
}

.column1, .column2 {
    display: table-cell;
    padding: 10px;
}

.row1 {
    background-color: #d3d3d3; 
    color: #1a3d5d; 
    font-weight: bold;
    padding: 3px 0;
    padding-left: 7px;
}

.row2 {
    background-color: #b0b0b0; 
    color: #1a3d5d; 
    padding: 6px 0;
    padding-left: 7px;
}

.footer {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color:#1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: white;
}

.logOut {
    background-color:cornflowerblue
}
