* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9FAF8;
}

.header, .hero, .footer {
    padding: 20px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #cdd322;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header a:hover {
    text-decoration-line: underline;
}

.hero {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background-color: #E5E7EB;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h1 {
    font-size: 32px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
}

.create-account-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create-account-form label {
    font-size: 16px;
    color: #1F2937;
}

.create-account-form input, .create-account-form select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create-account-form input:focus, .create-account-form select:focus {
    border-color: #3882F6;
    outline: none;
}

.show-password {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-button, .create-account-button {
    display: inline-block;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.contact-button:hover, .create-account-button:hover {
    background-color: #2c6cd3;
    transition: background-color .3s ease-in-out;
}

.footer {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: white;
}
