* {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header, .hero, .footer {
    padding: 20px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #cdd322;
}
.header ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header a:hover {
    text-decoration-line: underline;
}
.hero {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #F9FAF8;
    display: flex;
    gap: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content h1 {
    font-size: 21px;
    font-weight: bold;
    color: #1F2937;
    gap: 20px;
}

.content p {
    font-size: 18px;
    color: #E5E7EB;
    text-align:start;
}

.content button {
    background-color: #3882F6;
    font-weight: bold;
    font-size: 16px;
    color: #F9FAF8;
    border-radius: 10px;
    margin-top: 10px;
    padding: 4px 24px;
    width: 130px;
}

.content button:hover {
    background-color: #2c6cd3;
    transition: background-color .3s ease-in-out;
}

.loginWindow {
    width: 500px;
    height: 150px;
    padding-top: 26px;
    padding-bottom: 116px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 10px;
    display:flex;;
    flex-direction:column;
    align-items: left;
    gap: 8px;
    background-color: #E5E7EB;
}

.loginWindow label{
    color: #1F2937;
}

.loginWindow input {
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginWindow input:focus {
    border-color: #3882F6;
    outline: none;
}

.login-form {
    display:flex;;
    flex-direction:column;
    gap: 8px;
}

.image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color:#1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p{
    color: white;
}