* {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header, .hero, .footer {
    padding: 20px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    height: 65px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #cdd322;
}
.header ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header a:hover {
    text-decoration-line: underline;
}

.main-content {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 695px;
    background-color: #E5E7EB;
    padding: 20px;
}

.sidebar .menu {
    list-style-type: none;
    padding: 0;
}

.sidebar .menu-item {
    font-size: 18px;
    color: #1F2937;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    cursor: pointer;
}

.sidebar .menu-item:hover {
    text-decoration: underline;
}

.sidebar .sub-menu {
    list-style-type: none;
    padding: 0;
    display: none;
}

.sidebar .sub-menu li a {
    font-size: 16px;
    color: #1F2937;
    text-decoration: none;
    display: block;
    padding: 5px 0 5px 20px;
}

.sidebar .sub-menu li a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    flex: 1;
}

.filter-form {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

h2 {
    font-weight: bold;
    font-size:24px;
}

.content table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.content th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

.content th {
    background-color: #f4f4f4;
    color: #333;
    text-align: left;
}

button {
    background-color:lightslategray; 
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
}

.filter-form select {
    padding-left: 4px;
    font-size: 14px; 
    color: #333; 
}

.filter-form option {
    font-size: 14px; 
    color: #333; 
}

.footer {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color:#1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: white;
}

.logOut {
    background-color:cornflowerblue;   
    color: white;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    border-style: none;
}